html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  body {
    padding-top: 50px;
  }
  
  input[type="radio"], input[type="checkbox"] {
    margin: 0;
  }
  #sidebar {
    display: block;
    width: 250px;
    height: 100%;
    max-width: 100%;
    float: left;
  }
  
  #map {
    width: auto;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  .navbar .navbar-brand {
      font-weight: bold;
      font-size: 25px;
      color: #0c0c0c;
    }
  
    .navbar-collapse {
      overflow-y: hidden;
      color: #eee4e4;
    }
    .navbar-header .navbar-icon-container {
      margin-right: 15px;
      color: #f5f0f0;
    }
    .navbar-header .navbar-icon {
      line-height: 50px;
      height: 50px;
    }
    .navbar-header a.navbar-icon {
      margin-left: 25px;
    }
    
    .navbar-inverse {
      color: #5e82ab;
    
    }
  
   h1{
    position: absolute;
    font-weight: bold;
    font-size: 25px;;
    top: 8px;
    right: 16px;
    font-size: 18px;
   }
  
  
  
    @media (max-width: 750px) {
      .navbar .navbar-brand {
        font-size: 18px;
      }
    }
    @media (max-width: 767px){
      #sidebar {
        display: 100%;
      }
      .url-break {
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
          hyphens: auto;
      }
      .dropdown-menu a i{
        color: #dab674;
      }
    }
    /* Print Handling */
    @media print {
      .navbar {
        display: none !important;
      }
      .leaflet-control-container {
        display: none !important;
      }
    }